<footer class="footer">
    <div class="footer-container">
        <div class="footer-links">
            <img src="/assets/github.svg" alt="Company Logo" />
            <span class="year">© {{ currentYear }} GitHub, Inc.</span>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Security</a>
            <a href="#">Status</a>
            <a href="#">Community</a>
            <a href="#">Docs</a>
            <a href="#">Contact</a>
            <a href="#">Manage cookies</a>
            <a href="#">Do not share my personal information</a>
        </div>

    </div>
</footer>