.header {
    align-items: center;
    border-bottom: 1px solid #eee;
    background: #f6f8fa !important;
}

.headersub {
    display: flex;
    justify-content: space-between;

}

.logo img {
    height: 45px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-icons img {
    height: 28px;
    cursor: pointer;
}

.nav-link {
    font-size: 0.95rem;
    color: #444 !important;
}

.nav-link.active {
    border-bottom: 2px solid #f66;
    color: black !important;
    font-weight: 500;
}

.navbar {
    min-height: 65px;
}


.btn-group .btn {
    border: 1px solid #d0d7de;
    background: #f6f8fa;
    height: 34px;
}

.icon-btn {
    border-radius: 6px 0 0 6px;
    color: #57606a;
    font-size: 18px;
}

.dropdown-btn {
    border-radius: 0 6px 6px 0;
    width: 32px;
}

.btn:hover {
    background: #eaedf1;
}

.custom-select {
    width: 200px;
    border-radius: 8px;
    border: 1px solid #d0d7de;
    padding: 6px 12px;
    background-color: #f6f8fa;
    cursor: pointer;
}

.custom-select:focus {
    border-color: #218bff;
    box-shadow: 0 0 0 2px rgba(33, 139, 255, 0.3);
}

.subnav ul {
    display: flex;
    white-space: nowrap;
    width: 100%;
}

.nav-link {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 150px;
}

.subnav ul {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-item {
    list-style: none;
}

.nav-link {
    cursor: pointer;
}

ul.navbar-nav::-webkit-scrollbar {
    display: none;
}

ul.navbar-nav {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}